:root {--primary-color: #00587a;
  --secondary-color: lightgray;
--white-font-color: #fff;
--black-font-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:hover, a:focus {
  text-decoration: none;
}

button, .button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white-font-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--secondary-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* For the about page */
.about-header {
  text-align: center;
}

.container {
  text-align: center;
}

.table {
  margin: auto;
}

.coding__img {
  text-align: center;
}

/* Contact Form section */
.contact__form {
  text-align: center;
}


/* work section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* .grid__item {
  background-color: var(--secondary-color);
} */
/* start grid fallback */

.grid__item {
  background-color: var(--secondary-color);
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* margin: 0; */
  }

  .grid__item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    /* margin: 0; */
  }
}

/* footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* animations */



/* #path845, #path855 {
  animation: color-change 1s linear infinite;
  animation-duration: 20s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
} */


#path845, #path855, #path849, #path853 {
  animation: spin 1s linear infinite;
  animation-duration: 20s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* screen sizing */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
